<div class="jumbotron">
  <h1 class="display-4"><%= @restaurant.name %></h1>
  <p class="lead"><%= '⭐️' * @restaurant.rating %></p>
  <hr class="my-4">
  <p><%= @restaurant.address %></p>
  <%= link_to 'Delete', restaurant_path, method: 'delete', data: { confirm: "Are you sure?" } %>
  <%= link_to 'Back', restaurants_path, class: "btn btn-primary btn-lg" %>
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur beatae doloribus fugiat eius ipsum, debitis reiciendis! Vel dicta omnis fugit facere veritatis praesentium. Cum nisi iure cumque natus delectus tempore!
</div>